name: Deployment to Prod

on:
  workflow_dispatch:

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      environment: prod
      ecr_repository: appr-tailor-prod
      terraform_directory: terraform/prod
      auth0_custom_domain: cepp-prod.auth0.com
      auth0_domain: cepp-prod.auth0.com
      build_command: npx lerna run build
    secrets:
      appr_deploy_access_key: ${{ secrets.APPR_DEPLOY_ACCESS_KEY }}
      appr_deploy_secret_access_key: ${{ secrets.APPR_DEPLOY_SECRET_ACCESS_KEY }}
