name: Deployment to Dev

on:
  workflow_dispatch:

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      environment: dev
      ecr_repository: appr-tailor-dev
      terraform_directory: terraform/dev
      auth0_custom_domain: cepp-dev.auth0.com
      auth0_domain: cepp-dev.auth0.com
      build_command: npm run packages:build
      install_nx_dependencies: true
      add_runtime_dependencies: true
    secrets:
      appr_deploy_access_key: ${{ secrets.APPR_DEPLOY_ACCESS_KEY }}
      appr_deploy_secret_access_key: ${{ secrets.APPR_DEPLOY_SECRET_ACCESS_KEY }}
